

/* Start:/bitrix/components/bitrix/news/templates/top_menu/bitrix/news.detail/top_menu/style.css?1490028625155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/news/templates/top_menu/bitrix/news.detail/top_menu/style.css?1490028625155 */
