/* ==========================================================================
                FOOTER STYLES
   ========================================================================== */
.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.site-footer{
  max-width: 1200px;
  margin: 50px auto 0 auto;
  border-top: 1px solid #d8d8d8;
  padding: 40px 10px 0 10px;
}

.footer-wrapper{
  max-width: 940px;
  margin: 0 auto;
}

.footer-menu{
  float: left;

  .title-menu-item{
    display: inline-block;
    color: $cDarkBlack;
    @include pantonBold;
    @include fontStyle(12,15,0);
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color .3s 0s;

    &:hover{
      color: $cGreen;
    }
  }

  .footer-menu-item{
    color: $cLightBlack;
    @include pantonRegular;
    @include fontStyle(12,30,0);
    text-decoration: none;
    transition: color .3s 0s;

    &:hover{
      color: $cGreen;
    }
  }
}

.menu-row{
  float: left;
  margin-right: 60px;
  transition: margin .2s 0s;
}

.shop-element{
  float: left;
}

.personal-area{
  display: inline-block;
  color: $cDarkBlack;
  @include pantonBold;
  @include fontStyle(12,15,1);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  transition: color .3s 0s;

  &:hover{
    color: $cGreen;
  }
}

.online-store{
  display: inline-block;
  color: $cDarkBlack;
  @include pantonBold;
  @include fontStyle(12,15,1);
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  transition: color .3s 0s;

  &:hover{
    color: $cGreen;
  }
}

.credit-cards-list{
  .credit-card{
    display: inline-block;
    margin-right: 16px;
    vertical-align: middle;
    transition: margin .2s 0s;
  }
}

.contacts-wrapper{
  float: right;
  margin-right: 10px;

  .title{
    display: inline-block;
    color: $cDarkBlack;
    @include pantonBold;
    @include fontStyle(12,15,0);
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 14px;
    transition: color .3s 0s;
  }

  .number{
    display: inline-block;
    color: $cGreen;
    @include pantonBold;
    @include fontStyle(18,24,0);
    text-transform: uppercase;
    margin-bottom: 5px;
    text-decoration: none;
  }

  .call-me{
    display: inline-block;
    position: relative;
    color: $cLightBlack;
    @include pantonRegular;
    @include fontStyle(12,30,0);
    cursor: pointer;
    transition: color .3s 0s;

    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $cLightBlack;
      transition: background .3s 0s;
    }

    &:hover{
      color: $cGreen;

      &:before{
        background: $cGreen;
      }
    }
  }

  .send-message{
    display: inline-block;
    position: relative;
    color: $cLightBlack;
    @include pantonRegular;
    @include fontStyle(12,30,0);
    cursor: pointer;
    transition: color .3s 0s;

    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $cLightBlack;
      transition: background .3s 0s;
    }

    &:hover{
      color: $cGreen;

      &:before{
        background: $cGreen;
      }
    }
  }
}

.social-list{
  margin: 20px 0 6px 0;
}

.social-item{
  display: inline-block;
  margin-right: 15px;
  transition:  fill .3s 0s, stroke .3s 0s;

  svg{
    fill:$cGrey;
    transition: fill .3s 0s;
  }

  &:hover{
    svg{
      fill:$cGreen;
    }

  }
}


.delivery-footer{
  display: inline-block;

  span{
    display: inline-block;
    @include pantonRegular;
    @include fontStyle(12,30,0);
    color: $cLightBlack;
    padding-right: 30px;
    margin-top: 8px;
    vertical-align: top;
  }

  .delivery-wrapper{
    display: inline-block;
    position: relative;
    border: 1px solid #efefef;
    border-radius: 30px;
    padding-left: 22px;

    .form-item-label{
      position: absolute;
      z-index: 1;
      top: 17px;
      left: 23px;
      @include fontStyle(14,14,0);
      @include pantonRegular;
      color: #bdbdbd;
      transition: all .3s 0s;
      cursor: text;
      margin: 0;
    }

    &.filled{
      .form-item-label{
        top:4px;
        @include fontStyle(10,10,0);
      }
    }
  }

  .delivery-btn{
    background-color: $cGreen;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    color: $cWhite;
    height: 40px;
    border: 0;
    @include cervoRegular;
    @include fontStyle(12,21,0.75);
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 30px;
    width: 114px;
    margin:4px;
    cursor: pointer;
    transition: background .3s 0s;
    padding: 0;

    &:hover{
      background-color: #63c363;
      border: 0;
    }

    &:focus{
      border: 0;
    }

    &:focus{
      outline: none;
    }
  }

  .delivery-input{
    border: 0;
    width: 240px;
    //height: 30px;
    @include pantonRegular;
    @include fontStyle(14,30,0);
    color: $cDarkBlack;
    padding: 0;
    border-radius: 0;
    vertical-align: bottom;
    height: 30px;

    &:focus{
      outline: none;
      border: 0;

      +.form-item-label{
        top:4px;
        @include fontStyle(10,10,0);
      }
    }

    &::-webkit-input-placeholder {
      @include pantonRegular;
      @include fontStyle(12,30,0);
      color: #b0b0b0;
    }

    &::-moz-placeholder {
      @include pantonRegular;
      @include fontStyle(12,30,0);
      color: #b0b0b0;
    }

    &:-ms-input-placeholder {
      @include pantonRegular;
      @include fontStyle(12,30,0);
      color: #b0b0b0;
    }

    &:-moz-placeholder {
      @include pantonRegular;
      @include fontStyle(12,30,0);
      color: #b0b0b0;
    }

    &:hover{
      border: 0;
    }
  }

  .form-input{
    display: inline-block;
    margin-bottom: 0;
    &.show-error {
      input{
        border: 0;
      }
    }
  }
}

.developers{
  margin: 27px 30px 25px 0;
  float: right;
  @include pantonRegular;
  @include fontStyle(12,30,0);
  color: $cDarkBlack;

  a{
    text-decoration: none;
    @include pantonRegular;
    @include fontStyle(12,30,0);
    color: $cDarkBlack;
    transition:  color .3s 0s;

    &:hover{
      color: $cGreen;
    }
  }
}

.mobile-footer-container{
  display: none;

  .mm-list{
    margin-bottom: 50px;
    border-top: 1px solid #dcdcdc;
    padding:20px 20px 0 20px;
  }

  .mm-item{
    border-bottom:1px solid #dcdcdc;
    box-sizing: border-box;

    .mm-inner-item{
      padding-bottom: 15px;
      display: none;
    }

    .mm-trigger{
      display: block;
      position: relative;
      @include fontStyle(14,30,0);
      @include pantonBold;
      text-transform: uppercase;
      color: #191919;
      padding: 10px 0;
      text-decoration: none;

      .plus{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 9px;
        height: 9px;
        transition: transform .3s 0s;
        background-position: 0 0px;

        &:before{
          content: '';
          display: block;
          margin: 0 auto;
          width: 1px;
          height: 9px;
          background: #191919;
          transition: transform .3s 0s;
        }

        &:after{
          content: '';
          position: absolute;
          top: 4px;
          left: 0;
          display: block;
          height: 1px;
          width: 9px;
          background: #191919;
          transition: transform .3s 0s;
        }
      }

      &.active{
        .plus{
          &:before, &:after{
            transform:  rotate(-45deg);
          }
        }
      }
    }

    .mm-link{
      display: block;
      @include fontStyle(14,40,0);
      @include pantonRegular;
      color: #969696;
      text-decoration: none;
    }
  }

  .m-contacts-wrapper{
    text-align: center;
    padding: 0 20px;
  }

  .number{
    display: inline-block;
    color: $cGreen;
    @include pantonBold;
    @include fontStyle(24,30,0);
    text-transform: uppercase;
    margin-bottom: 35px;
    text-decoration: none;
  }

  .call-me{
    display: inline-block;
    position: relative;
    color: #969696;
    @include pantonRegular;
    @include fontStyle(14,30,0);
    cursor: pointer;
    transition: color .3s 0s;
    margin-bottom: 30px;

    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #969696;
      transition: background .3s 0s;
    }

    &:hover{
      color: $cGreen;

      &:before{
        background: $cGreen;
      }
    }
  }

  .send-message{
    display: inline-block;
    position: relative;
    color: #969696;
    @include pantonRegular;
    @include fontStyle(14,30,0);
    cursor: pointer;
    transition: color .3s 0s;
    margin-bottom: 50px;

    &:before{
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #969696;
      transition: background .3s 0s;
    }

    &:hover{
      color: $cGreen;

      &:before{
        background: $cGreen;
      }
    }
  }

  .social-list{
    margin-bottom: 45px;
  }

  .social-item{
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    transition:  fill .3s 0s, stroke .3s 0s;
    width: 50px;
    height: 50px;
    margin-right: 30px;

    &:last-child{
      margin-right: 0;
    }

    svg{
      width: 100%;
      height: 100%;
      fill:$cGrey;
      transition: fill .3s 0s;
    }

    &:hover{
      svg{
        fill:$cGreen;
      }

    }
  }

  .delivery-footer{
    display: block;

    span{
      display: block;
      @include pantonRegular;
      @include fontStyle(14,30,0);
      color: #969696;
      margin-bottom: 20px;
      padding: 0;
    }

    .form-input{
      display: block;
      text-align: left;
      margin-bottom: 25px;
    }

    .delivery-wrapper{
      display: block;
      width: 100%;
      position: relative;
      border: 1px solid #e6e6e6;
      border-radius: 30px;
      margin-bottom: 0;
      box-sizing: border-box;
      padding-left: 20px;
      height: 50px;
    }

    .delivery-btn{
      background-color: $cGreen;
      background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
      color: $cWhite;
      height: 40px;
      border: 0;
      @include cervoRegular;
      @include fontStyle(12,20,0.75);
      text-transform: uppercase;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      text-align: center;
      border-radius: 30px;
      padding:14px 25px;
      margin: 0 0 40px 0;
      cursor: pointer;
      transition: background .3s 0s;

      &:hover{
        background-color: #63c363;
      }

      &:focus{
        outline: none;
      }
    }

    .delivery-input{
      display: block;
      border: 0;
      width: 100%;
      border-radius: 30px;
      padding: 0 25px;
      box-sizing: border-box;
      @include pantonRegular;
      @include fontStyle(14,50,0);
      color: $cDarkBlack;
      margin-top: 15px;
      padding: 0;

      &:focus{
        outline: none;
      }

      &::-webkit-input-placeholder {
        @include pantonRegular;
        @include fontStyle(14,30,0);
        color: #b0b0b0;
      }

      &::-moz-placeholder {
        @include pantonRegular;
        @include fontStyle(14,30,0);
        color: #b0b0b0;
      }

      &:-ms-input-placeholder {
        @include pantonRegular;
        @include fontStyle(14,30,0);
        color: #b0b0b0;
      }

      &:-moz-placeholder {
        @include pantonRegular;
        @include fontStyle(14,30,0);
        color: #b0b0b0;
      }
    }
  }

  .credit-cards-list {
    @include fontStyle(0,0,0);
    margin-bottom: 40px;

    .credit-card{
      height: 50px;
      margin-right: 20px;

      &:last-child{
        margin-right: 0;
      }

      svg{
        height: 100%;
        width: 55px;
      }
    }
  }

  .developers{
    @include fontStyle(12,30,0);
    margin: 0;
    float: none;
    color: #505050;
    margin-bottom: 15px;

    a{
      color: #505050;
    }
  }
}

.form-container{
  display: none;
}

@media screen and (max-width: 900px) {
  .menu-row{
    margin-right: 30px;
  }
}

@media screen and (max-width: 800px) {
  .credit-cards-list {
    .credit-card{
      margin-right: 8px;
    }
  }
}

/* ==========================================================================
               end FOOTER STYLES
   ========================================================================== */