/* ==========================================================================
                HEADER STYLES
   ========================================================================== */

html {
    height: auto;
    min-height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

::selection {
    background: $cGreen;
    color:#fff;
    transition: background .2s 0s, color .2s 0s;
}

.block-clear{
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.vertical-center{
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        width: 0;
        margin: 0;
        vertical-align: middle;
    }
}

.site-body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    padding-bottom: 349px;
    box-sizing: border-box;

    &.open-menu{
        max-height: 100vh;
    }
}

.center{
    text-align: center;
}

.wrapper-header{
    width: 100%;
}

.site-header{
    max-width: 1440px;
    margin: 46px auto 35px auto;
    padding: 0 60px;
    box-sizing: border-box;
    transition: padding .2s 0s;
}



.main-menu{
    display: inline-block;
    
    .main-menu-item{
        display: inline-block;
        margin-right: 20px;
        @include fontStyle(12,15,1);
        @include pantonBold;
        color: $cDarkBlack;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s 0s;

        >a{
            @include fontStyle(12,15,1);
            @include pantonBold;
            color: $cDarkBlack;
            text-decoration: none;
            transition: color .3s 0s;
        }

        &:before{
            position: absolute;
            left: 0;
            top: 63px;
            width: 100%;
            height: 40px;
            cursor: default;
        }

        &:hover{
            >a{
                color: $cGreen;
            }

            &:before{
                content: '';
            }
            
            .wrapper-inner-menu{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }

        &:last-child{
            margin-right: 0;
        }

        &.active{
            &:hover{
                
                &:before{
                    content: none;
                }

                .wrapper-inner-menu{
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(-20px);
                }
            }

            a{
                color: $cGreen;
            }
        }
    }

    .wrapper-inner-menu{
        position: absolute;
        z-index: 10;
        top: 101px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity .2s 0s, visibility .2s 0s, transform .3s 0s;
        @include fontStyle(0,0,0);
        will-change: transform, opacity;

        &.active{
            opacity: 1;
            visibility: visible;
        }

        .inner-menu-item{
            display: inline-block;
            margin-right: 40px;
            @include pantonBold;
            @include fontStyle(12,15,0);
            color: $cWhite;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .3s 0s;

            &.active{
                color: $cDarkBlack;
            }

            &:hover{
                color: $cDarkBlack;
            }
        }
    }
}

.inner-menu-link{
    position: relative;
    display: inline-block;
    @include pantonBold;
    @include fontStyle(12,15,0);
    color: $cWhite;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s 0s;

    &.active{
        color: $cDarkBlack;
    }

    &:hover{
        color: $cDarkBlack;
    }
}

.inner-menu-item{
    cursor: pointer;
    padding: 12px 0;

    &:before{
        position: absolute;
        top: 127px;
        width: 50%;
        height: 13px;
    }

    &.active{
        .inner-menu-link {
            color: $cDarkBlack;
        }
    }
    &:hover {
        &:before {
            content: '';
        }
        .inner-menu-link{
            color: $cDarkBlack;
        }

        .wrapper-third-menu{
            opacity: .9;
            visibility: visible;
            transform: translateY(0);
        }

    }
}

.wrapper-inner-menu{
    width: 100%;
    background: $cGreen;
    margin-bottom: 25px;
    @include fontStyle(0,0,0);

    .inner-menu{
        max-width: 1440px;
        padding:0px 0 0px 215px;
        margin: 0 auto;
        box-sizing: border-box;
        transition: padding .2s 0s;
    }

    .inner-menu-item{
        display: inline-block;
        margin-right: 40px;
        @include pantonBold;
        @include fontStyle(12,15,0);
        color: $cWhite;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s 0s;

        &.active{
            color: $cDarkBlack;
        }

        &:hover{
            color: $cDarkBlack;
        }
    }
}

.wrapper-third-menu{
    position: absolute;
    z-index: 15;
    top: 140px;
    left: 0;
    right: 0;
    background: $cWhite;
    box-shadow: 0 10px 20px rgba(108, 108, 108, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(70px);
    transition: opacity .2s 0s, visibility .2s 0s, transform .3s 0s;
    cursor: default;
}

.third-menu{
    max-width: 1440px;
    padding: 30px 0 45px 215px;
    margin: 0 auto;
    box-sizing: border-box;
    @include fontStyle(0,0,0);
}

.third-menu-list-wrapper{
    display: inline-block;
    @include fontStyle(0,0,0);
    margin-right: 60px;
    vertical-align: top;

    &:last-child{
        margin-right: 0;
    }

    .title{
        color: #171213;
        @include fontStyle(16,15,1);
        @include pantonBold;
        text-transform: uppercase;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 12px;
        margin-bottom: 20px;
    }
}

.third-menu-list{
    display: inline-block;
    width: 140px;
    margin-right: 10px;
    vertical-align: top;

    a{
        display: block;
        @include fontStyle(14,20,0);
        @include pantonRegular;
        color: $cLightBlack;
        margin-bottom: 15px;
        text-transform: none;
        text-decoration: none;
        transition: color .3s 0s;

        &:hover{
            color: $cGreen;
        }
    }
}

.shares-link-menu{
    position: relative;

    &:before{
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        right: -17px;
        top: 7px;
        background-image: url('/dist/img/shares.png');
        background-repeat: no-repeat;
        opacity: .5;
    }
}


.right-panel{
    float: right;
    margin-top: -13px;
    font-size: 0;
}

.wrapper-header{
    .search-header, .user, .shop-basket, .languages{
        display: inline-block;
        vertical-align: middle;
    }

    .search-header{
        position: relative;
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }

    .search-header-form{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        box-shadow: 0 0 4px 0px rgba(0,0,0,0.0);
        text-align: right;
        border-radius: 30px;
        transition: box-shadow .3s 0s, width .3s 0s;

        &.activated{
            width: 400px;
            box-shadow: 0 0 4px 0px rgba(0,0,0,0.5);

            &:before{
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
            }
        }

        &:hover{
            box-shadow: 0 0 4px 0px rgba(0,0,0,0.5);
            transition: box-shadow .3s .2s, width .3s 0s;
            &:before{
                width: 100%;
                height: 100%;
                right: 0;
                top: 0;
            }
        }

        &:before{
            content: '';
            position: absolute;
            right: 50%;
            top: 50%;
            width: 0;
            height: 0;
            background: $cWhite;
            transition: transform .3s 0s, width .3s 0s, height .3s 0s, right .3s 0s, top .3s 0s;
            border-radius: 30px;
        }
    }

    .search-header-btn{
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: 16px;
        border-radius: 50%;
        border: 0;
        width: 50px;
        height: 50px;
        background-image: url("/dist/img/loop-header.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgba(255, 255, 255, 0);
        z-index: 5;

        &:focus{
            outline: none;
        }
    }

    .search-header-text{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        border: 0;
        border-radius: 30px;
        padding: 0 60px 0px 25px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0);

        &:focus{
            outline: none;
        }
    }

    .user{
        margin-right: 30px;
        a{
            display: block;
        }

        svg{
            fill:$cBlack;
            transition: fill .3s 0s;
        }

        &:hover{
            svg{
                fill:$cGreen;
            }
        }
    }

    .shop-basket{
        margin-right: 30px;
        a{
            display: block;
        }

        svg{
            fill:$cBlack;
            transition: fill .3s 0s;
        }

        &:hover{
            svg{
                fill:$cGreen;
            }
        }
    }

    .languages{
        @include pantonRegular;
        @include fontStyle(10,15,0.83);
        text-decoration: none;
        text-transform: uppercase;
        color: $cDarkBlack;

        .lang-link{
            color: $cDarkBlack;
            transition: color .3s 0s;
            text-decoration: none;

            &.active{
                color: $cGreen;
            }

            &:hover{
                color: $cGreen;
            }
        }
    }

    .logo{
        display: inline-block;
        margin-right: 56px;
        transition: margin .2s 0s;
    }
}

.mobile-wrapper-header{
    display: none;
    position: relative;
}

.mobile-menu-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: $cGreen;
    transform: translateX(-100%);
    transition: transform .4s 0s;
    z-index: 17;

    &.active{
        transform: translateX(0);
    }

    .mm-list{
        padding:20px 20px 0 20px;
    }

    .mm-item{
        border-bottom:1px solid #4eab4e;
        box-sizing: border-box;

        .mm-inner-item{
            padding-bottom: 15px;
            display: none;
        }

        .mm-trigger{
            display: block;
            position: relative;
            @include fontStyle(14,30,0);
            @include pantonBold;
            text-transform: uppercase;
            color: $cWhite;
            padding: 10px 0;
            text-decoration: none;

            .plus{
                position: absolute;
                right: 5px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                transition: transform .3s 0s;
                background-position: 0 0px;

                &:before{
                    content: '';
                    display: block;
                    margin: 0 auto;
                    width: 1px;
                    height: 9px;
                    background: $cWhite;
                    transition: transform .3s 0s;
                }

                &:after{
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    display: block;
                    height: 1px;
                    width: 9px;
                    background: $cWhite;
                    transition: transform .3s 0s;
                }
            }

            &.active{
                .plus{
                    &:before, &:after{
                        transform:  rotate(-45deg);
                    }
                }
            }
        }

        .mm-link{
            display: block;
            @include fontStyle(14,40,0);
            @include pantonRegular;
            color: $cWhite;
            text-decoration: none;
            
            &.active{
                color: $cBlack;
            }
        }

        .mm-first-level{
            &.active{
                color: $cBlack;
            }

        }
    }

    .mm-search{
        padding:0 20px;
        margin-bottom: 5px;
        overflow: hidden;
    }

}

.mm-wrapper-list{
    height: 100vh;
    width: 100%;
    margin-top: 55px;
    border-top: 1px solid #4eab4e;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mm-search{
    form{
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        border-bottom: 1px solid $cWhite;
    }

    .mm-search-input{
        width: 100%;
        border: 0;
        background: $cGreen;
        padding: 15px 20px 15px 10px;
        box-sizing: border-box;
        color: $cWhite;

        &:focus{
            outline: none;
        }

        &::-webkit-input-placeholder {
            @include fontStyle(14,40,0);
            @include pantonRegular;
            color: $cWhite;
        }
        &::-moz-placeholder {
            @include fontStyle(14,40,0);
            @include pantonRegular;
            color: $cWhite;
        }
        &:-ms-input-placeholder {
            @include fontStyle(14,40,0);
            @include pantonRegular;
            color: $cWhite;
        }
        &:-moz-placeholder {
            @include fontStyle(14,40,0);
            @include pantonRegular;
            color: $cWhite;
        }
    }

    .mm-search-btn{
        position: absolute;
        right: 10px;
        top: 17px;
        border: 0;
        width: 15px;
        height: 15px;
        background-image: url('/dist/img/mm-search.png');
        background-repeat: no-repeat;
        background-color: $cGreen;

        &:focus{
            outline: none;
        }
    }
}

.mm-languages{
    float: right;
    @include fontStyle(14,14,0);
    @include pantonBold;
    padding: 20px;

    .lang-link{
        @include fontStyle(14,14,0);
        @include pantonBold;
        color: #3e953e;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 36px;

        &:last-child{
            margin-right: 0;
        }
        &.active{
            color: $cWhite;
        }
    }
}

.mobile-site-header{
    background: $cWhite;
    padding: 18px 20px;
    text-align: center;

    .mobile-btn-menu{
        float: left;
    }

    .logo{
        display: inline-block;
    }

    .shop-basket{
        float: right;
    }

    .user{
        float: right;
        margin-right: 20px;
    }
}

.mobile-btn-menu {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 16px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    z-index: 20;

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #191919;

        &:before,&:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #191919;
        }

        &:before {
            top: -7px;
        }

        &:after {
            bottom: -7px;
        }
    }
}

/**
 * Стиль 2
 *
 * «Гамбургер» превращается в «x» (класс active).
 * Берется исходное состояние, затем полоски плавно перемещаются в центр
 * и трансформируются в «x».
*/
.mobile-btn-menu {

    span{
        transition: background 0.2s 0.1s;

        &:before{
            transition: top .3s .3s, transform .3s 0s, background .2s 0s;
        }
        &:after{
            transition: bottom .3s .3s, transform .3s 0s, background .2s 0s;
        }
    }

    &.active{
        span {
            background: none;
            &:before {
                background: $cWhite;
                top: 0;
                transform: rotate(45deg);
                transition: top .3s 0s, transform .3s .3s;
            }
            &:after {
                background: $cWhite;
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom .3s 0s, transform .3s .3s;
            }
        }
    }
}




