.print-table-wrapper{
	display: none;

	tr {
		td:last-child {
			color:#000;
		    line-height: 20px;
		    text-align: center;
		    border-bottom: 1px solid #e6e6e6;
		}
		td{
			color:#000;
		    border-bottom: 1px solid #e6e6e6;
		    &.red{
				color:#000;
			}
		}
	}

	.title {
		td{
			color:#000;
			border-bottom: 1px solid #e6e6e6;
			&:last-child {
				border-bottom: 1px solid #e6e6e6;
			}
			&:first-child{
				color:#000;
			}


		}
	}
}


@media print{
	.history-table.ht{
		display: none;
	}

	.credit-limit, .period-wrapper, .tabs-controls-inner, h1, .breadcrumbs-list, .wrapper-header, .footer-container, .mobile-wrapper-header, .mobile-footer-container, .ignore-print{
		display: none;
	}

	.print-table-wrapper{
		display: block;
	}
}