/* ==========================================================================
                main slider first slide STYLES
   ========================================================================== */
@media screen and (max-width: 1720px){
  .list-element-tea{

    .element-3{
      margin-left: 52%;

      .info-wrapper{
        margin: 10% 0 0 0%;
      }
    }

    .image{
      width: 380px;
    }
  }

}
@media screen and (max-width: 1420px){
  .list-element-tea {
    .image {
      width: 350px;
    }

    .element-2{
      top: 30px;
    }

    .element-3{
      bottom: 25px;
    }
  }
}
@media screen and (max-width: 1310px){
  .list-element-tea {
    .image {
      width: 290px;
    }

    .element-2{
      top: 70px;
    }

    .element-3 {
      bottom: 70px;
    }
  }
}
@media screen and (max-width: 1180px){
  .list-element-tea {
    .image {
      width: 250px;
    }

    .element-2{
      top: 100px;
    }

    .element-3 {
      bottom: 100px;
    }
  }

  .main-slider-wrapper {
    .first-slide-content{
      margin-left: 7%;
    }
  }
}
@media screen and (max-width: 1090px){
  .list-element-tea {
    .image {
      width: 230px;
    }

    .element-1{
      margin-left: 3%;
    }

    .element-3 {
      margin-left: 48%;
    }
  }
}
/* ==========================================================================
               end main slider first slide STYLES
   ========================================================================== */

/* ==========================================================================
               header STYLES
   ========================================================================== */
@media (max-width: 1100px){
  .site-header{
    padding: 0 20px;
  }

  .wrapper-header{
    .logo{
      margin-right: 30px;
    }
  }

  .wrapper-inner-menu {
    .inner-menu{
      padding-left: 150px;
    }
  }

  .team-production-sleder, .team-office-sleder {
    .swiper-button-next{

      left: 12%;
    }
    .swiper-button-prev{
      left: 12%;
    }
  }
}

@media (max-width: 1000px){
  .site-header{
    padding: 0 10px;
  }

  .wrapper-header{
    .logo{
      margin-right: 20px;
    }

    .search-header{
      margin-right: 15px;
    }

    .user{
      margin-right: 20px;
    }

    .shop-basket{
      margin-right: 20px;
    }
  }

  .wrapper-inner-menu {
    .inner-menu{
      padding-left: 130px;
    }
  }

  .third-menu{
    padding-left: 80px;
  }

  .third-menu-list-wrapper{
    margin-right: 20px;
  }

  .mobile-wrapper-inner-menu{
    .mobile-inner-menu{
      padding-left: 130px;
    }
  }

}
/* ==========================================================================
                END header STYLES
   ========================================================================== */

/* ==========================================================================
                advantages-wrapper STYLES
   ========================================================================== */
@media (max-width: 1150px){
  .advantages-image-list {
    .advantages-image-item {
      img{
        width: 100%;
      }
    }
  }
}
/* ==========================================================================
                END advantages-wrapper STYLES
   ========================================================================== */

/* ==========================================================================
                about STYLES
   ========================================================================== */
@media (max-width: 1325px){
  .layer-element-about {
    .about-element-bg-3{
      opacity: 0;
    }
  }

  .layer-elements {
    .team-element-bg-4{
      opacity: 0;
    }
  }
}
/* ==========================================================================
                END about STYLES
   ========================================================================== */
/* ==========================================================================
                news STYLES
   ========================================================================== */
@media (max-width: 1000px){
  .layer-element-brand{
    .brand-element-bg-4{
      display: none;
    }
    .brand-element-bg-5{
      display: none;
    }
    .brand-element-bg-6{
      display: none;
    }
    .brand-element-bg-7{
      display: none;
    }
  }
}
/* ==========================================================================
                news STYLES
   ========================================================================== */

/* ==========================================================================
                catalog STYLES
   ========================================================================== */
@media (max-width: 1040px){
  .form-select{
    select{
      background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgMDAwMDAwMDAwP/2wBDAQEBAQEBAQEBAQECAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wgARCAAGAAgDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhADEAAAAVwf/8QAFhAAAwAAAAAAAAAAAAAAAAAABxQX/9oACAEBAAEFAkR3eP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Bf//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Bf//EACEQAAEDBAEFAAAAAAAAAAAAAAEEERQDEhMVAAUWISUx/9oACAEBAAY/Apu7STbB6cJOoWd2YMQBVBJq7Ib1fNV5Tj645//EABgQAAIDAAAAAAAAAAAAAAAAAAAxASFB/9oACAEBAAE/IbrO2XHleCZ//9oADAMBAAIAAwAAABCf/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAwEBPxB//8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAgEBPxB//8QAFhABAQEAAAAAAAAAAAAAAAAAARFh/9oACAEBAAE/EAL6DtlEPXIkC//Z);
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }
  }

  .filter-global-title{
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
  }

  .filter-global-list{
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 40px 20px 0 20px;
    box-sizing: border-box;
    background: $cWhite;
    box-shadow: 1px 12px 20px -5px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .3s 0s, visibility .3s 0s, transform .3s 0s;

    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .catalog-fl-inner{
    .form-checkbox{
      display: inline-block;
      width: auto;
      margin-right: 30px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  .catalog-filter-list-wrapper{
    float: none;
    width: auto;
    margin: 0;
    position: relative;
  }

  .catalog-sort-wrapper{
    padding: 8px 0 8px 0;
  }

  .catalog-main-block-wrapper{
    float: none;
    width: 100%;
  }

  .catalog-card-item{
    width: 30%;
    margin-left: 3%;
  }

  .catalog-card-item-inner-wrapper{
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .catalog-extra-card-item-inner-wrapper{
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  .quick-view-wrapper{
    width: calc(100vw - 20px);
    padding: 50px;
  }

  .product-slider-wrapper {
    .swiper-button-prev{
      left: 10px;
    }

    .swiper-button-next{
      right: 10px;
    }
  }

  .profile-tab .profile-left-column{
    max-width: 550px;
  }

}
/* ==========================================================================
                catalog STYLES
   ========================================================================== */

/* ==========================================================================
               MOBILE STYLES
   ========================================================================== */
@media (max-width: 935px){
  .site-body{
    padding-bottom: 0;
  }

  .wrapper-inner-menu{
    display: none;
  }

  .advantages-list-wrapper{
    .title{
      position: relative;
      transform: rotate(0deg);
      left: 0;
      top: 0;
    }
  }

  .advantages-container{
    padding-left: 0;
    width: auto;
    margin: 0 -10px 100px -10px;
    overflow-x: scroll;
  }

  .advantages-list{
    width: 940px;

    .advantages-item{
      &:first-child{
        padding-left: 10px;
      }

      &:last-child{
        padding-right: 10px;
      }
    }
  }

  .mobile-wrapper-header{
    display: block;
  }

  .wrapper-header{
    display: none;
  }

  .main-slider-wrapper{
    height: auto;

    .slide-wrapper-content{
      padding-top: 20px;
    }

    .first-slide-content{
      position: relative;
      text-align: center;
      width: 100%;
      max-width: 450px;
      bottom: auto;
      margin: 0 auto 25px auto;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .swiper-container-horizontal {
      > .swiper-pagination-bullets{
        left: auto;
        width: 100%;
        text-align: center;
        bottom: 20px;
      }
    }
  }

  .list-element-tea{
    padding: 0 15px;
    box-sizing: border-box;

    .element-tea{
      position: relative;
      left: auto;
      top: auto;
      right: auto;
      bottom: auto;
      display: flex;
      margin: 0 0 35px 0;
      align-items: center;
    }

    .info-wrapper{
      margin: 0 !important;
      width: 49%;
      vertical-align: top;

      .name{
        @include fontStyle(25,25,0);
        margin-bottom: 5px;
      }

      .type{
        @include fontStyle(12,18,0);
      }
    }

    .image{
      width: 49%;
      vertical-align: top;
    }
  }

  .action-wrapper{
    margin: 45px auto 85px auto;

    .two-column-inner {
      .column {
        width: 100%;
        float: none;

        &:first-child {
          padding-right: 0;
        }
      }
    }
  }

  .action-element{
    text-align: center;
    margin-bottom: 55px;

    .title{
      @include fontStyle(30,30,0);
      margin: 0 0 20px 0;
    }

    .text{
      margin: 0;
      padding:0 33px;
    }

    &.element-3 {
      margin-top: 0;
    }
  }

  .footer-container{
    display: none;
  }

  .mobile-footer-container{
    display: block;
  }

  .result-message{
    margin: 50px 0px 40px 0px;
    width: 100%;
  }

  .fancybox-wrap{
    width: calc(100% - 20px)!important;
    height: auto!important;
  }

  .fancybox-inner{
    width: 100%!important;
  }

  .fb-default-style{
    .fancybox-inner{
      padding: 0 20px;
    }
  }

  .fb-noscroll-window{
    .fancybox-inner{
      padding: 0 20px;
    }
  }

  .form-wrapper-pop-up{
    width: 100%;
  }

  .is-quote{
    padding: 50px 0 0 0px;
    margin: 50px 0 55px 0;

    .q-icon{
      width: 50px;
      left: 0;

      svg{
        width: 100%;
      }
    }

    .q-text{
      margin-top: 15px;
    }
  }

  .two-column-inner{
    .column{
      width: 100%;
      float: none;

      &:first-child{
        margin: 0;
        padding: 0;
      }
    }
  }

  .bg-container{
    margin-top: 0;
  }

  .tabs-controls-wrapper{
    overflow-x: scroll;
    margin: 0 -20px 0 -20px;

    .tabs-controls{
      margin-bottom: 10px;
    }

    .tabs-controls-item{

      &:first-child{
        padding-left: 20px;
      }

      &:last-child{
        padding-right: 20px;
      }
    }
  }

  .teams-wrapper{
    .tabs-controls-wrapper{
      margin-bottom: 15px;
      width: auto;
      margin: 0 -20px 15px -20px;
    }

    .tabs-controls{
      width: 940px;
      margin-bottom: 10px;
    }

    .tabs-controls-item{
      margin-right: 100px;

      &:first-child{
        padding-left: 20px;
      }

      &:last-child{
        padding-right: 20px;
      }
    }
  }

  .layer-elements{
    .team-element-bg-7,.team-element-bg-6,.team-element-bg-5,.team-element-bg-4{
      opacity: 0;
    }

    .team-element-bg-1{
      top: 39%;
    }

    .team-element-bg-2{
      top: 1%;
    }

    .team-element-bg-3{
      top: 23%;
    }
  }

  .site-inner{
    padding: 0 20px;
    margin-bottom: 25px;
  }

  .list-contacts{

    .column-contacts{
      margin-bottom: 60px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .info-element{
      height: auto;
    }

    .two-column-inner{
      .column{
        width: 50%;
        float: left;
      }
    }
  }

  .pagination-map{
    span{
      display: none;
    }

    .item{
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .prev-news-wrapper{
    display: block;

    .prev-news{
      padding-right: 40px;
    }

    .next-news{
      padding-right: 40px;
    }
  }

  .wrapper-list-news{
    display: none;
  }

  .ajax-wrapper-news{
    margin-left: 0;
    margin: 0 -20px;
    padding: 0 20px;

    .image-wrapper{
      margin: 0 -20px 35px -20px;
    }
  }

  .news-two-column{

    h1{
      margin-bottom: 20px;
    }
    .column-left {
      width: 100%;
      float: none;
    }

    .column-right{
      width: 100%;
      padding: 0;
      margin-left: 0;
    }

    .wrapper-search-news{
      margin-bottom: 30px;
    }
  }

  .layer-element-brand{
    display: none;
  }

  .pagination-wrapper{
    .pagination-prew{
      margin-right: 25px;
    }

    .pagination-item{
      @include fontStyle(27,30,0);
      margin-right: 22px;
    }

    .pagination-element{
      @include fontStyle(20,30,0);
      margin-right: 22px;
    }
  }

  .detail-green-block{
    overflow-x: scroll;
  }


  .page-detail-tea{
    .mobile-site-header{
      box-shadow: 0 2px 5px rgba(39, 36, 37, 0.1);
    }

    .breadcrumbs-list{
      margin-bottom: 35px;
    }

    h1{
      text-align: center;
      margin-bottom: 10px;
    }

    h3{
      text-align: center;
    }

    .two-column-inner {
      .column{
        &:first-child{
          padding-right: 0;
        }
      }
    }
  }

  .mobile-wrapper-inner-menu{
    display: block;

    .mobile-inner-menu{
      padding-left: 20px;
    }
  }

  .social-menu-wrapper{
    display: block;
  }

  .container-big-detail-image {
    margin-bottom: 20px;

    .big-detail-image{
      max-width: 70%;
      margin: 0 auto;
      min-height:auto;
    }
  }

  .detail-slider-wrapper {
    margin-bottom: 30px;

    .swiper-container{
      width: 140px;
      margin: 0 auto;
    }

    .detail-main-slide{
      width: 60px;
      padding: 10px;
      margin: 0 auto;
    }
  }

  .detail-slider-wrapper {
    .swiper-button-prev{
      bottom: 15px;
      left: 0;
    }
    .swiper-button-next{
      bottom: 15px;
      right: 0;
    }
  }

  .detail-social-list{
    display: none;
  }

  .product-info-wrapper{
    text-align: center;

    .catalog-card-counter-wrapper{
      max-width: 330px;
      margin: 0 auto;
    }

    .catalog-card-buy{
      text-align: center;
    }

    .catalog-card-counter-minus, .catalog-card-counter-value, .catalog-card-counter-plus{
      margin-bottom: 35px;
    }

    .default-btn{
      margin-left: 0;
    }

    .detail-text{
      margin-bottom: 40px;
    }

    .product-region{
      display: inline-block;
      margin-bottom: 50px;
    }

    .accordion-list{
      text-align: left;
    }

    .product-rating-list{
      margin-bottom: 35px;
    }

    .catalog-card-rating-item{
      width: 20px;
      height: 20px;
    }
  }

  .detail-green-block{
    margin-bottom: 40px;
  }

  .explanations-list{
    padding: 70px 0 50px 0;
    min-width: 730px;
  }

  .explanations-item{
    width: 170px;
  }

  .detail-title{
    margin-bottom: 30px;
  }

  .product-slider-wrapper {
    margin: 0 0 80px 0;

    .swiper-slide{
      width: 100%;
    }

    .swiper-button-prev{
      left: 0;
    }

    .swiper-button-next{
      right: 0;
    }
  }

  .reviews-left-column{
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 60px;
  }

  .reviews-section-graphic{
    text-align: left;
  }

  .reviews-graphic-wrapper{
    float: left;
    width: 50%;
    text-align: left;
  }

  .reviews-graphic-item{
    width: 100%;
  }

  .reviews-right-column{
    width: 100%;
  }

  .review-count-star{
    float: right;
  }

  .reviews-list{
    margin-bottom: 50px;
  }

  .review-item{
    margin-bottom: 36px;

    &:last-child{
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .review-name{
    margin-bottom: 17px;
  }

  .review-date{
    margin-bottom: 20px;
  }

  .review-text{
    margin-bottom: 25px;
  }

  .review-summary{
    margin-bottom: 35px;
  }

  .review-help-wrapper{
    float: none;
  }

  .help-wrapper{
    float: right;
    margin-top: -4px;
  }

  .review-help-item{
    @include fontStyle(16,20,0);

    span{
      @include fontStyle(16,20,0);
    }

    &:before{
      opacity: 0;
    }
  }

  .like-icon {
    &:hover {
      svg {
        fill: #4a4a4a;
      }
    }
  }

  .team-production-sleder, .team-office-sleder{
    padding-left: 10%;
    .swiper-button-next{
      display: none;
    }
    .swiper-button-prev{
      display: none;
    }
  }

  .total-shop-order-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .link-back-catalog{
      order: 2;
    }

    .total-shop-order-wrapper{
      float: none;
      text-align: left;
      margin-top: 40px;
      width: 100%;
    }

    .shop-order-price{
      margin-right: 0;
      float: right;
    }

    .shop-order-btn{
      display: block;
      width: 183px;
      margin: 40px auto 0 auto;
      box-sizing: border-box;
    }
  }

  .page-basket-shop .free-sample{
    margin: 0 0 85px 0;
  }

  .page-basket-shop{
    .product-slider-wrapper{
      margin: 0;
    }

    .swiper-button-prev{
      top: 53%;
    }
    .swiper-button-next{
      top: 53%;
    }
  }
}
/* ==========================================================================
                END MOBILE STYLES
   ========================================================================== */

@media (max-width: 810px){
  .wrapper-brand-list{
    .brand-item{
      width: 50%;
    }
  }

  .about-time-line-wrapper{
    padding-top: 100px;
  }

  .layer-about-time-line{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .about-swiper-container{
    width: 100%;
    padding: 0 30px 0 30px;
  }

  .about-swiper-container {
    .swiper-slide{
      &:before{
        width: 7px;
      }
      &:after{
        width: 7px;
      }
    }
  }
}

@media (max-width: 740px){
  .list-contacts {
    .column-contacts{
      margin-right: 0;
      display: block;
      padding-bottom: 15px;
      border-bottom: 1px solid #cbcbcb;
    }

    .info-element{
      border-bottom: 0;
    }
  }

  .mission-container {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 75px;

    .mission-content-wrapper{
      float: none;
      margin: 0;
    }
  }

  .strategy-container {

    .strategy-content{
      max-width: 100%;
    }

    .strategy-image{
      position: relative;
      left: 0;
      top: 0;

      img{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }

  .layer-element-about {
    .about-element-bg-1{
      opacity: 0;
    }
    .about-element-bg-2{
      opacity: 0;
    }
    .about-element-bg-3{}
    .about-element-bg-4{
      left: 5%;
    }
    .about-element-bg-5{}
    .about-element-bg-6{
      left: 15%;
      top: auto;
      bottom: 150px;
    }
    .about-element-bg-7{}
    .about-element-bg-8{
      right: 15%;
      top: auto;
      bottom: 180px;
    }
    .about-element-bg-9{
      opacity: 0;
    }
    .about-element-bg-10{
      right: 1%;
      top: 160px;
    }
    .about-element-bg-11{
      opacity: 0;
    }
    .about-element-bg-12{
      opacity: 0;
    }
  }

  .catalog-banner-wrapper{
    height: 110px;
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }

  .catalog-banner-content{
    top: 20px;
    left: 19px;

    .cb-title{
      @include fontStyle(16,20,0);
      margin-bottom: 10px;
    }

    .cb-link{
      @include fontStyle(8,30,0);
    }
  }

  .catalog-cards-list{
    margin-left: 0;
  }

  .catalog-card-item{
    width: 100%;
    margin-left: 0;
    height: auto;
    float: none;
    border-radius: 0;
    border-bottom: 1px solid #e6e6e6;

    .catalog-card-image{
      display: block;
    }

    .catalog-card-buy{
      opacity: 1;
      position: relative;
    }

    .quick-view-btn{
      display: none;
      //opacity: 1;
      //visibility: visible;
      //transform: scale(1);
    }

    &:hover{
      .catalog-card-item-inner-wrapper, .catalog-extra-card-item-inner-wrapper{
        box-shadow:0 10px 20px rgba(108, 108, 108, 0);
      }
    }
  }

  .catalog-card-item-inner-wrapper{
    margin-left: -10px;
    border-radius: 0;
  }

  .catalog-card-text{
    max-width: 300px;
    margin: 0 auto;
  }

  .catalog-extra-card-item-inner-wrapper{
    opacity: 1;
    visibility: visible;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow:0 10px 20px rgba(108, 108, 108, 0);
    margin-bottom: 10px;
  }

  .catalog-filter-list-wrapper{
    margin-left: -20px;
    margin-right: -20px;
  }

  .filter-global-title{
    margin: 0 20px;
  }

  .quick-view-image{
    width: 100%;
    margin: 0 0 30px 0;
  }

  .quick-view-content-wrapper{
    width: 100%;
  }

  .catalog-card-item {

    .quick-view-btn {
      display: none;
    }
  }

  .basket-table {
    margin-bottom: 0;

    tbody td:first-child{
      max-width: 150px;
    }
  }

  .product-slide-card {
    .cart-inner-dropdown{
      opacity: 1;
      visibility: visible;
      box-shadow: none;
    }
  }

  .page-basket-shop .free-sample .product-slider-wrapper{
    position: relative;
    left: 0;
  }

  .page-basket-shop .free-sample{
    padding: 50px 20px 40px 20px;
  }

  .free-sample{
    .product-slider-wrapper .swiper-button-prev{
      left: 0;
      top: 53%;
    }

    .product-slider-wrapper .swiper-button-next{
      right: 0;
      top: 53%;
    }
  }

  .profile-tab {
    .profile-right-column{
      float: none;
      order: 2;
      width: 280px;
      margin: 0 auto;
    }

    .profile-left-column{
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }

    .profile-two-column{
      display: flex;
      flex-direction: column;
    }
  }

  .personal-meneger-card .manager-inner-wrapper{
    width: 180px;
    margin: 0 auto;
    text-align: center;
  }

  .profile-tree-column {
    .profile-column{
      width: 100%;
      float: none;
      margin-bottom: 40px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .page-lk {
    .order-new-btn{
      float: none;
      margin-top: 0;
    }

    h1{
      @include fontStyle(60,70,0);
    }

  }

  .history-orders-wrapper {

    .accordion-item .style{
      height: auto;
      text-align: left;
    }

    .title-accordion{
      span{
        margin-left: 10px;
      }

      &:first-child{
        width: 50%;
      }
      
      &:last-child{
        width: 50%;
        text-align: left;
      }
    }

    .name{
      position: relative;
      width: 50%;
      vertical-align: middle;
      text-align: left;

      &:before{
        content: '';
        position: absolute;
        right: 20px;
        top: 10px;
        width: 10px;
        height: 5px;
        background: url('/dist/img/lk-up.png') no-repeat 50% 50%;
        transition:  transform .3s 0s;
      }
    }

    .active{
      .name{
        &:before{
          transform: rotate(180deg);
        }
      }
    }

    .date{
      display: inline-block;
      width: 29%;
      vertical-align: middle;
      margin-left: 10px;
    }

    .default-btn{
      //padding: 10px 15px 10px 15px;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0;
      padding: 0;
      @include fontStyle(0,0,0);
      box-shadow: none;
      vertical-align: middle;
      background-image: url(/dist/img/reset.png);
      background-repeat: no-repeat;
      background-position: 50% 49%;
    }

    .add-shopping-basket{
      @include fontStyle(0,0,0);
      width: 20px;
      height: 20px;
      background-image: url('/dist/img/basket-lk.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      vertical-align: middle;

      &:before{
        content: none;
      }
    }
  }

  .news-slider-container {
    .item-news-card{
      display: block;
      width: 180px;
      padding: 0;
      margin: 0 auto;
    }

    .date-news{
      @include fontStyle(16,30,0);
      margin-bottom: 5px;
    }

    .name-news{
      @include fontStyle(18,25,0);
      margin-bottom: 5px;
    }
  }

  .item-news-card {
    .tag-list span{
      @include fontStyle(12,20,0);
      padding-right: 9px;
    }
  }

  .news-slider-container .swiper-button-prev{
    left: 0;
  }

  .news-slider-container .swiper-button-next{
    right: 0;
  }

  .book-wrapper {
    .title{
      float: none;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    .default-btn {
      float: none;
      display: block;
      max-width: 60px;
      margin: 21px auto;
    }

  }

  .personal-global-form {
    .perosnal-logotip-wrapper{
      float: none;
      width: 100%;
      margin-right: 0;
      text-align: right;
      margin-bottom: 30px;
    }

    .personal-info-row{
      padding-left: 0;
      text-align: center;

      .title{
        text-align: left;
      }

      .juristic-information-list{
        text-align: left;
      }
    }

    .form-input input{
      width: 100%;
    }

    .form-input {
      max-width: 400px;
      margin: 0 auto;
      text-align: left;
    }

    .save-change{
      display: block;
      max-width: 135px;
      margin: 20px auto;
    }
  }

  .juristic-information-item {
    margin-bottom: 30px;

    .title{
      width: 100%;
      margin-bottom: 5px;
    }

    .value{
      width: 100%;
    }
  }

  .period-wrapper {
    height: auto;
    overflow: visible;

    .period-title{
      display: block;
    }

    .period-filter{
      margin-bottom: 20px;
    }

    .period-right-block{
      float: none;
    }

    .default-btn{
      padding: 19px 45px;
    }
  }

  .credit-limit{
    margin-bottom: 30px;

    .credit-limit-title{
      display: block;
      @include fontStyle(14,25,0);
      @include pantonBold;
    }
  }

  .history-table {
    tr td:first-child{
      width: 180px;
    }

    .title-table{
      width: 180px;
    }
  }

  .conditions-tab {
    .status, .region{
      display: inline-block;
      width: 49%;
      span{
        display: block;
        padding-left: 0;
      }
    }

    .download-link{
      float: none;
      margin-top: 0;
      order:3;
    }
  }

  .conditions-status-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .total-order-wrapper{
    float: none;
    width: 100%;
  }

  .total-order-wrapper .main-total-item .order-price{
    float: none;
    margin-top: 10px;
  }

  .order-page-container .default-btn{
    float: none;
  }

  .table-new-order {
    margin-bottom: 40px;

    .add-to-order{
      @include fontStyle(0,0,0);
      width: 20px;
      height: 20px;
      background-image: url(/dist/img/basket-lk.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      vertical-align: middle;

      &:before{
        content: none;
      }
    }

  }

}

@media (max-width: 555px){
  .wrapper-brand-list{
    .brand-item{
      width: 100%;
    }
  }

  .mission-container {
    padding: 15px;
    box-sizing: border-box;

    .mission-content-wrapper{
      float: none;
      margin: 0;
      padding: 20px;
    }
  }

  .catalog-sort-container{
    float: none;
    margin-top: 0;
  }

  .catalog-sort-clear-filter{
    margin-bottom: 15px;
  }

  .catalog-sort-item{
    margin-left: 0;
    margin-right: 30px;

    &:last-child{
      margin-right: 0;
    }
  }

  .form-rating {
    .form-rating-item{
      padding-right: 15px;

      &:first-child{
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 400px){
  .about-swiper-container {
    .title{
      @include fontStyle(25,25,0);
    }
  }

  .tabs-controls-inner {
    .tabs-controls-link{
      @include fontStyle(25,25,0);
    }
  }

  .is-tabs-wrapper-detail{
    .tabs-controls-inner {
      .tabs-controls-link{
        max-width: 170px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 320px){

  h1{
    @include fontStyle(60,60,0);
  }

  h2{
    @include fontStyle(38,38,0);
  }

  .main-slider-wrapper {
    .title-lists-tea {
      @include fontStyle(30,30,0);
    }
  }

  .list-element-tea {
    .info-wrapper {
      .name{
        @include fontStyle(20,20,0);
      }

      .main-price {
        @include fontStyle(14,20,0);

        span{
          @include fontStyle(22,22,0);
        }
      }

      .second-price{
        @include fontStyle(13,25,0);
      }
    }
  }

  .advantages-content {
    h2{
      @include fontStyle(45,45,0);
    }
  }

  .open-world-wrapper {
    .content{
      padding: 30px 15px 70px 15px;
    }
  }

  .mission-container {
    .title{
      @include fontStyle(40,40,0);
      margin-bottom: 15px;
    }

    .sub-title{
      @include fontStyle(18,25,0);
    }

    .text{
      @include fontStyle(12,20,0);
    }
  }

  .ajax-wrapper-news {
    .list-social-bottom{
      float: none;
      margin-top: 15px;
    }
  }

  .prev-news-wrapper {
    .prev-news {
      span{
        margin-top: -17px;
      }
    }
  }

  .next-news-wrapper {
    .next-news {
      span{
        margin-top: -17px;
      }
    }
  }

  .product-info-wrapper {
    .coffee-list{
      display: block;
      padding-left: 0;
    }
  }

  .catalog-card-counter-plus{
    margin-left: 10px;
  }

  .catalog-card-counter-minus{
    margin-right: 10px;
  }

  .page-lk {

    h1{
      @include fontStyle(50,60,0);
    }

  }
}

.ipad-tablet{
  .catalog-card-item{
    box-shadow: 0 10px 20px rgba(108, 108, 108, 0.3);

    .quick-view-btn{
      opacity: 1;
      visibility: visible;
      padding: 10px;
      right: 10px;
      top: 10px;
    }

    .catalog-card-buy{
      position: relative;
    }

    &:hover .catalog-extra-card-item-inner-wrapper{
      box-shadow: none;
    }
  }

  .catalog-card-item-inner-wrapper{
    box-shadow: none;
  }

  .catalog-extra-card-item-inner-wrapper{
    position: relative;
    opacity: 1;
    visibility: visible;
    padding-bottom: 0;
    box-shadow: none;
  }

  .wrapper-inner-menu{
    display: none;
  }

  .mobile-wrapper-inner-menu{
    display: block;
  }

  .product-slide-card {
    .cart-inner-dropdown{
      opacity: 1;
      visibility: visible;
      box-shadow: none;
    }
  }

  .page-basket-shop .free-sample .product-slider-wrapper{
    position: relative;
    left: 0;
  }

  .page-basket-shop .free-sample{
    padding: 50px 20px 40px 20px;
  }

  .free-sample{
    .product-slider-wrapper .swiper-button-prev{
      left: 0;
      top: 53%;
    }

    .product-slider-wrapper .swiper-button-next{
      right: 0;
      top: 53%;
    }
  }

  .page-basket-shop{
    .product-slider-wrapper{
      margin: 0;
    }

    .swiper-button-prev{
      top: 53%;
    }
    .swiper-button-next{
      top: 53%;
    }
  }
}