
/* Start:/local/templates/cloudy_green_copy/components/bitrix/news/top_menu/bitrix/news.list/top_menu/style.css?1490028625150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
