$cWhite: #ffffff;
$cBlack: #000000;
$cDarkBlack: #171213;
$cLightBlack: #4a4a4a;
$cGreen: #5eb45e;
$cGrey: #a9a9a9;
$cRed: #ec2524;



$cDarkRed: #9c0e21;
$cYellowText: #e9bd76;
$cBrown: #722222;
$cGreyDate: #c6bcb2;
$cGreyCur: #a69e95;
$cGreyFooter: #bea7a4;
$cList: #9698a2;
$cBlue: #8bd1d4;
$cDarkGrey: #45484d;
$cLightRed: #f7f7f7;
$cPurple: #974F8F;