
@font-face {
    font-family: 'NeueHaas-Light';
    src: url('/dist/fonts/NeueHaasUnicaW1G-Light.eot');
    src: url('/dist/fonts/NeueHaasUnicaW1G-Light.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/NeueHaasUnicaW1G-Light.woff') format('woff'),
    url('/dist/fonts/NeueHaasUnicaW1G-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaas-Medium';
    src: url('/dist/fonts/NeueHaasUnicaW1G-Medium.eot');
    src: url('/dist/fonts/NeueHaasUnicaW1G-Medium.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/NeueHaasUnicaW1G-Medium.woff') format('woff'),
    url('/dist/fonts/NeueHaasUnicaW1G-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaas-Regular';
    src: url('/dist/fonts/NeueHaasUnicaW1G-Regular.eot');
    src: url('/dist/fonts/NeueHaasUnicaW1G-Regular.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/NeueHaasUnicaW1G-Regular.woff') format('woff'),
    url('/dist/fonts/NeueHaasUnicaW1G-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cervoMedium';
    src: url('/dist/fonts/cervo-medium.eot');
    src: url('/dist/fonts/cervo-medium.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/cervo-medium.woff') format('woff'),
    url('/dist/fonts/cervo-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cervoRegular';
    src: url('/dist/fonts/cervo-regular.eot');
    src: url('/dist/fonts/cervo-regular.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/cervo-regular.woff') format('woff'),
    url('/dist/fonts/cervo-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pantonBold';
    src: url('/dist/fonts/panton-bold.eot');
    src: url('/dist/fonts/panton-bold.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/panton-bold.woff') format('woff'),
    url('/dist/fonts/panton-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pantonRegular';
    src: url('/dist/fonts/panton-regular.eot');
    src: url('/dist/fonts/panton-regular.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/panton-regular.woff') format('woff'),
    url('/dist/fonts/panton-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansR';
    src: url('/dist/fonts/PT-Sans-R.eot');
    src: url('/dist/fonts/PT-Sans-R.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/PT-Sans-R.woff') format('woff'),
    url('/dist/fonts/PT-Sans-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansB';
    src: url('/dist/fonts/PT-Sans-B.eot');
    src: url('/dist/fonts/PT-Sans-B.eot?#iefix') format('embedded-opentype'),
    url('/dist/fonts/PT-Sans-B.woff') format('woff'),
    url('/dist/fonts/PT-Sans-B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin arial {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin cervoMedium {
    font-family: 'cervoMedium', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin cervoRegular {
    font-family: 'cervoRegular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin pantonBold {
    font-family: 'pantonBold', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin pantonRegular {
    font-family: 'pantonRegular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin PTSansR{    
    font-family: 'PTSansR', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin PTSansB{    
    font-family: 'PTSansB', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}


@mixin fontStyle($fz,$lh,$ls) {
    font-size: $fz * 1px;
    font-size: ($fz / 10) *1rem;
    line-height: $lh * 1px;
    line-height: ($lh / 10) *1rem;
    letter-spacing: $ls *1px;
}