/* ==========================================================================
                IE STYLES
   ========================================================================== */

.ie8{
  .slider-novelty-wrapper {
    .slide-inner-content{
      margin-right: 10px;
    }
  }

  .main-catalog-list-type-a{
    .main-catalog-item{
      &:before{
        background: none;
      }
      &:hover{
        background: #eaeaea;
      }
    }
  }

  .site-header-type-a{
    .logo{
      height: 62px;
      background: url('/dist/img/logo-type-a.png') no-repeat 50%;
    }
  }

  .site-header-type-b{
    .logo{
      height: 62px;
      background: url('/dist/img/logo-type-b.png') no-repeat 50%;
    }
  }

  .print-header{
    .logo{
      height: 62px;
      background: url('/dist/img/logo-type-a.png') no-repeat 50%;
    }
  }

  .left-menu-list-type-a {
    .left-menu-item-first-level {
      .icon{
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        svg{
          display: none;
        }
      }
    }
  }
}
