
/* Start:/local/components/bitrix/news.one/templates/top_menu/bitrix/news.detail/top_menu/style.css?1490028625155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */

/* Start:/bitrix/components/bitrix/system.show_message/templates/top_menu/style.min.css?148992756751*/
font.errortext{color:red}font.notetext{color:green}
/* End */

/* Start:/bitrix/components/bitrix/main.map/templates/top_menu/style.min.css?1489927561139*/
ul.map-level-0 a{font-weight:bold}ul.map-level-1 a,ul.map-level-2 a,ul.map-level-3 a{font-weight:normal}.map-columns td{vertical-align:top}
/* End */
