

/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.detail/.default/style.css?1490028630155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */


/* Start:/bitrix/components/bitrix/catalog.comments/templates/.default/style.min.css?14900286173822*/
.item_comments{display:block;padding-left:0}.item_comments li{display:block;padding-bottom:10px}.item_comments_username{display:inline-block;color:#5d90bd;font-size:14px}.item_comments_date{display:inline-block;color:#b8b8b8;font-size:14px;margin-left:10px}.item_comments_container p{margin-top:5px;color:#3f3f3f;font-size:14px}div.blog-comment-form{width:100%!important}div.blog-comment .blog-author{font-size:.85em}.blog-comment-content{font-size:13px;overflow:hidden!important;padding-top:0!important}div.blog-comment-buttons input{font-size:13px!important;padding:0 3px!important}.blog-post-rating{padding:10px 0 0 0}@media(max-width:540px){.bx_soc_comments_div .bx-catalog-tab-list li a{font-size:11px}}.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button,.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2{padding:0 13px;height:25px;font-weight:bold;line-height:25px}.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button{height:27px;line-height:27px}.bx_soc_comments_div.bx_important .bx_medium.bx_bt_button_type_2{font-weight:bold}.bx_soc_comments_div.bx_important .blog-comment-nav a,.bx_soc_comments_div.bx_important .blog-comment-nav a:link,.bx_soc_comments_div.bx_important .blog-comment-nav a:visited,.bx_soc_comments_div.bx_important .blog-comment-info a,.bx_soc_comments_div.bx_important .blog-comment-info a:link,.bx_soc_comments_div.bx_important .blog-comment-info a:visited{text-decoration:none;color:#969696!important}.bx_soc_comments_div.bx_important .blog-comment-nav a:hover,.bx_soc_comments_div.bx_important .blog-comment-nav a:active,.bx_soc_comments_div.bx_important .blog-comment-info a:hover,.bx_soc_comments_div.bx_important .blog-comment-info a:active{text-decoration:underline;color:#969696!important}.bx_soc_comments_div.bx_important .blog-comment-info a,.bx_soc_comments_div.bx_important .blog-comment-info a:link,.bx_soc_comments_div.bx_important .blog-comment-info a:visited{font-size:.85em}.bx_soc_comments_div.bx_important .blog-comment-info a:hover,.bx_soc_comments_div.bx_important .blog-comment-info a:active{font-size:.85em}.bx_soc_comments_div .bx-catalog-tab-section-container{position:relative}.bx_soc_comments_div .bx-catalog-tab-list{border-bottom:1px solid #d9e1e3;text-align:left;padding:0;vertical-align:bottom;margin:16px 0}.bx_soc_comments_div .bx-catalog-tab-list li{vertical-align:bottom;border:1px solid #d9e1e3;border-bottom:0;display:inline-block;border-radius:3px 3px 0 0;background:#f7f7f7;box-shadow:inset 0 -10px 5px -10px rgba(0,0,0,.12)}.bx_soc_comments_div .bx-catalog-tab-section-container .bx-catalog-tab-list li:before{content:none}.bx_soc_comments_div .bx-catalog-tab-list li a,.bx_soc_comments_div .bx-catalog-tab-list li>span{display:block;cursor:pointer;line-height:30px;height:30px;color:#999;text-decoration:none;font-size:13px;padding:0 20px;box-shadow:none}.bx_soc_comments_div .bx-catalog-tab-list li:hover,.bx_soc_comments_div .bx-catalog-tab-list li.active{background:#fff}.bx_soc_comments_div .bx-catalog-tab-list li.active a,.bx_soc_comments_div .bx-catalog-tab-list li.active>span{background:#fff;line-height:35px;height:35px;color:#3f3f3f;position:relative;bottom:-2px}.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div.tab-off{opacity:0;height:0;overflow:hidden;-webkit-transition:all .4s ease-out;-ms-transition:all .4s ease-out;-moz-transition:all .4s ease-out;-o-transition:all .4s ease-out;transition:all .4s ease-out}.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div{opacity:1;-webkit-transition:all .6s ease-out;-ms-transition:all .6s ease-out;-moz-transition:all .6s ease-out;-o-transition:all .6s ease-out;transition:all .6s ease-out;padding:0 10px}.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container .hidden{display:none}
/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?148992756751*/
font.errortext{color:red}font.notetext{color:green}
/* End */


/* Start:/bitrix/components/bitrix/catalog.comments/templates/.default/themes/blue/style.css?149002861724*/
/* catalog_comments */


/* End */
/* /local/templates/cloudy_green_copy/components/bitrix/news.detail/.default/style.css?1490028630155 */
/* /bitrix/components/bitrix/catalog.comments/templates/.default/style.min.css?14900286173822 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?148992756751 */
/* /bitrix/components/bitrix/catalog.comments/templates/.default/themes/blue/style.css?149002861724 */
