

/* Start:/local/templates/cloudy_green_copy/components/bitrix/search.page/.default/style.css?1489927767163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */


/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/books/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/cloudy_green_copy/components/bitrix/search.page/.default/style.css?1489927767163 */
/* /local/templates/cloudy_green_copy/components/bitrix/news.list/books/style.css?1490028637150 */
