
/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/slider/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/news.detail/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/news_three/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
