
/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.detail/.default/style.css?1490028630155*/
div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

/* End */

/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/author.books/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */

/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/last.books/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
