

/* Start:/bitrix/components/bitrix/search.page/templates/tags/style.css?1489927767358*/
div.search-tags-chain a {margin:2px;}
div.search-tags-chain a.search-tags-link {color:#333333; font-size:90%; text-decoration:none;color:#535353;}
div.search-tags-cloud a {white-space: normal;}
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}

/* End */


/* Start:/local/templates/cloudy_green_copy/components/bitrix/news.list/books/style.css?1490028637150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/components/bitrix/search.page/templates/tags/style.css?1489927767358 */
/* /local/templates/cloudy_green_copy/components/bitrix/news.list/books/style.css?1490028637150 */
